<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>help page</title>
  </head>
  <body>
    {{>header}}
    <div class="body">
      <figure class="detail">
        <img src="/img/creator.png" alt="creator image">
        <figcaption>This weather app project is created by Anuj bhatt</figcaption>
      </figure>
      <div class="contact">
        <h5>LINKEDIN: <a target="_blank" href="https://www.linkedin.com/in/anuj-bhatt-4271051a1/">visit</a> </h5>
        <h5>GITHUB: <a target="_blank" href="https://github.com/anujbhatt-dev">visit</a> </h5>
        <h5>INSTAGRAM: <a target="_blank" href="https://www.instagram.com/bhatt5933/">visit</a> </h5>
        <h5></h5>
      </div>
    </div>
    {{>footer}}
  <script src="/js/app.js" charset="utf-8"></script>
  </body>
</html>
