<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>error 404</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="body">
      <h1>2020/5=404</h1>

    </div>
  </body>
</html>
