<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>help page</title>
  </head>
  <body>
    {{>header}}
    <div class="body">
      <h3>The goal is to grow so strong on the inside that nothing on the outside can affect your inner wellness without your conscious permission.</h3>
    </div>
    {{>footer}}
  <script src="/js/app.js" charset="utf-8"></script>
  </body>
</html>
